Package: unzip
Version: 6.0-21
Architecture: amd64
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 1036
Depends: libbz2-1.0, libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Suggests: zip
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: http://www.info-zip.org/UnZip.html
Description: De-archiver for .zip files
 InfoZIP's unzip program. With the exception of multi-volume archives
 (ie, .ZIP files that are split across several disks using PKZIP's /& option),
 this can handle any file produced either by PKZIP, or the corresponding
 InfoZIP zip program.
 .
 This version supports encryption.
